<div *ngIf="challenge" class="row h-100">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="ChallengeDescription">Description</label>
          <textarea class="form-control"
                    id="ChallengeDescription" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row pl-3 pr-2">
      <div class="col-12 m-0 p-0 ">
        <div class="form-group">
          <label for="methodType">File Type</label>
          <select [(ngModel)]="row.docType"
                  class="form-control-small h-100 w-100 m-0 p-0" id="methodType">
            <option *ngFor="let docType of docTypes">{{docType}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 ">
        <app-uploader></app-uploader>
      </div>
    </div>
  </div>
</div>


