<div class="input-group" id="adv-search">
  <input type="text" [(ngModel)]="searchPersonData.name" class="form-control" placeholder="Invite Person"/>
  <div class="input-group-btn">
    <div class="btn-group" role="group">
      <div class="dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false"><span class="fas fa-search"></span></button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="filter">Filter by</label>
              <select class="form-control" id="filter" (change)="onChange($event.target.selectedOptions[0].label)">
                <option *ngFor="let item of tagService.tags| async">{{item}}</option>
              </select>
            </div>
            <div>
              <app-tag *ngFor="let selectedTag of selectedTags" [TagTitle]=selectedTag
                       (removeItem)="removeTagFromList($event)"></app-tag>
            </div>
            <div class="form-group">
              <label for="contain2">Invite Person</label>
              <input class="form-control" id="contain2" name="name" [(ngModel)]="searchPersonData.name" type="text"/>
            </div>
            <button type="submit" class="btn btn-primary" (click)="searchPeron()"><span class="fas fa-search"
                                                                                        aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="searchPeron()"><span class="fas fa-search"
                                                                                  aria-hidden="true"></span></button>
    </div>
  </div>
</div>
<!--<div class="d-flex flex-column" cdkDropList [cdkDropListData]="invitePersonService.result"-->
<!--(cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">-->
<div>
  <app-searched-peron [Person]="person" *ngFor="let person of invitePersonService.result">
  </app-searched-peron>
</div>
