<div class="container mt-2 ">
  <div class="row  rounded  pb-3">
    <div class="col-7 bg-light shadow pr-3 mr-3 border border-dark">
      <form>
        <div class="form-group">
          <label for="ChallengeDescription">Challenge's Description</label>
          <textarea class="form-control" id="ChallengeDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="Deadline">Deadline for receive idea</label>
          <input type="date" id="Deadline">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
    </div>
    <div class="col-4 bg-light shadow  pl-2 pt-3 border border-dark">
      <app-invite-person></app-invite-person>
    </div>
  </div>
</div>
