<div class="w-100 border border-secondary rounded-lg rounded pt-2 pb-0">
  <div class="row">
    <div class="col-12">
      <h5>Attachment</h5>
      <input [uploader]="uploader" multiple ng2FileSelect type="file"/><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row border border-secondary m-0 p-0">
        <div class="col-3 text-left"><strong>Name</strong></div>
        <div class="col-2 text-center"><strong>Size</strong></div>
        <div class="col-2 text-center"><strong>Progress</strong></div>
        <div class="col-1 text-center"><strong>Status</strong></div>
        <div class="col-2 text-center"><strong>Actions</strong></div>
        <div class="col-2 text-center"><strong>Type of File</strong></div>
      </div>
      <div *ngFor="let item of uploader.queue" class="row mb-1 px-1">
        <div class="col-3 text-left word-break my-auto">
          {{ item?.file?.name }}
        </div>
        <div class="col-2 text-center word-break my-auto">
          {{ item?.file?.size / 1024 / 1024 | number:'.2' }}MB
        </div>
        <div class="col-2 text-center my-auto">
          <div class="progress" style="margin-bottom: 0;">
            <div [ngStyle]="{ 'width': item.progress + '%' }" class="progress-bar" role="progressbar"></div>
          </div>
        </div>
        <div class="col-1 text-center my-auto">
          <span *ngIf="item.isSuccess"><i class="fas fa-check"></i></span>
          <span *ngIf="item.isCancel"><i class="fas fa-times"></i></span>
          <span *ngIf="item.isError"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-2 text-center p-0 my-auto">
          <button (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"
                  class="btn btn-sm" style="background-color: #86c7f3" type="button">
            <span class="fas fa-upload"></span>
          </button>
          <button (click)="item.cancel()" [disabled]="!item.isUploading"
                  class="btn btn-sm" style="background-color: #ffe29a" type="button">
            <span class="fas fa-times"></span>
          </button>
          <button (click)="item.remove()" class="btn btn-sm" style="background-color: #ffa1b5"
                  type="button">
            <span class="fas fa-trash"></span>
          </button>
        </div>
        <div class="col-2 text-center my-auto">
          {{FileType}}
        </div>
      </div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div [ngStyle]="{ 'width': uploader.progress + '%' }" class="progress-bar" role="progressbar"></div>
        </div>
      </div>
      <button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"
              class="btn btn-s" style="background-color: #86c7f3" type="button">
        <span class="fas fa-upload"></span> Upload all
      </button>
      <button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading"
              class="btn btn-s" style="background-color: #ffe29a" type="button">>
        <span class="fas fa-times"></span> Cancel all
      </button>
      <button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length"
              class="btn btn-s" style="background-color: #ffa1b5" type="button">
        <span class="fas fa-trash"></span> Remove all
      </button>
    </div>
  </div>
</div>
