/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

app-root {
  position: absolute;
  width: 100%;
  left: 0;
}

.dashboardRow {
  margin: 10px 2%;
}

.main-page {
  background-color: #E4E8F1;
}

.left {
  background: grey;
}

.right {
  background: black;
}

.main-wrapper {
  height: 100vh;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  background: #f9f9f9;
  height: 50%;
  width: 100%;
  margin: 15px 0;
}

h4 {
  color: white;
}
