<!--<div class="mt-1 pl-1 d-flex rounded  shadow bg-light" cdkDragcdkDrag>-->
<div class="mt-1 pl-1 d-flex rounded  shadow bg-light">
  <div class="col-2 text-center  p-0">
    <img class="rounded-circle" src="../../../assets/image/ProfileImage/{{person.image}}">
  </div>
  <div class="col-8 pl-2 my-auto">
    <p class="font-weight-bold font"> {{person.lastName}} {{person.firstName}}</p> {{person.title}}
    At {{person.company}}
  </div>
  <div class="col-2 p-0 my-auto  text-center">
    <button (click)="selectPerson()" class="btn btn-primary rounded-circle">
      <span class="fas fa-plus text-white"></span></button>
  </div>
</div>

